@import 'mixins';
.card {
    margin-bottom: 40px;
    min-height: $cardMinHeight;
    max-width: 480px;
    border-radius: 20px;
    box-shadow: 2px 8px 12px 3px rgba(0, 0, 0, 0.26);
    font-size: $mainFontSize;
    &__content{
        border-radius: $cardBorderRadius;
        color: rgb(69, 68, 68);
        padding: $cardContentPadding;
        background-color: $cardBgColor;
    } 
    &__footer{
        height: 150px;
        background-color: $footerBgColor;
        border-radius: $footerBorderRadius;
        padding: 0;
        @include centerFlex($align: flex-start);
        &__footer-container{
            text-align: center;
            position: relative;
            width: 100px;
            height: 100px;
            padding: 3px;
            top: -3rem;
        }
        &__footer-img-container{
            &__profile-img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
                border: 4px solid white;
            }
        }
        &__footer-content{
            @include centerFlex(column);
            &__title{
                color: #fff;
                font-size: $cardFooterTitleFontSize;
            }
            &__text{
                font-size: $cardFooterContentFontSize;
                color: rgba(255, 255, 255, 0.647);
            }
        }

    }
    
}