@import 'mixins';
.card {
    margin-bottom: 40px;
    min-height: $cardMinHeight;
    max-width: 480px;
    border-radius: 20px;
    box-shadow: 2px 8px 12px 3px rgba(0, 0, 0, 0.26);
    font-size: $mainFontSize;
    &__content{
        border-radius: $cardBorderRadius;
        color: rgb(69, 68, 68);
        padding: $cardContentPadding;
        background-color: $cardBgColor;
    } 
    &__footer{
        height: 150px;
        background-color: $footerBgColor;
        border-radius: $footerBorderRadius;
        padding: 0;
        &__footer-container{
            text-align: center;
            position: relative;
            top: -3rem;
        }
        &__footer-img-container{
            margin-bottom: 10px;
            &__profile-img{
                width: $profileImageSize;
                border-radius: 50%;
                border: 5px solid white;
            }
        }
        &__footer-content{
            @include centerFlex(column);
            &__title{
                color: #fff;
                font-size: $cardFooterTitleFontSize;
            }
            &__text{
                font-size: $cardFooterContentFontSize;
                color: rgba(255, 255, 255, 0.647);
            }
        }

    }
    
}

@media (max-width: 360px){
    .card__footer__img-container{
        top: -5em;
    }
    .card__footer__img-container__profile-img{
        width: 80px;
    }
}