
// General:
$mainFontFamily: Arial, Helvetica, sans-serif;
$mainContainerPadding: 20px;
$mainContainerBgColor: #c3cfe2;
$mainFontSize: 0.6em;

// Card specific
$cardFooterTitleFontSize: 3em;
$cardFooterContentFontSize: 2em;
$cardMinHeight: 400px;
$cardBgColor: #fff;
$cardBorderRadius: 20px 20px 0 0 ;
$cardContentPadding: 10% 8% 20%;

// Footer specific
$footerBgColor: #686de0;
$footerPadding: 15% 10% 10%;
$footerBorderRadius: 0 0 20px 20px;
$profileImageSize: 100px;

// Images Gridwrapper
$gridImgWrapperBorderRadius: 20px;


// Social Media Menu:

    // icons of side menu:
    $menu-icons-box-shadow: 4px 5px 7px 2px rgba(17, 15, 15, 0.288);
    $blog-icon-bg-color: #e17b77;
    $twitter-icon-bg-color: #00aced;
    $linkedin-icon-bg-color: #007bb6;
    $facebook-icon-bg-color: #3b5998;
    $github-icon-bg-color: #333;

