
// variables:
@import "variables";
@import "mixins";
@import "card";
@import "grid";
@import "socialMediaMenu";



*, *::after, *::before{
    box-sizing: border-box;

}
  /* Link on new project pages to return to the main projects page overview */
  .link_to_main {
    padding: 10px;
    font-size: 0.8em;
    &__text{
        margin-left: 10px;
    }
  }

body{
    width: 100%;
    height: 100vh;
    line-height: 1.4;
    font-family: $mainFontFamily;
    margin: 0;
    padding: 0;
}
.main-container{
    margin: 0 auto;
    @include centerFlex(column);
    gap: 50px;
    background-color: $mainContainerBgColor;
    padding: $mainContainerPadding;
}
