*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Permanent+Marker&display=swap');

body{
    /* background-color: black; */
    width: 100%;
    height: 100%;
    font-family: 'karma', Arial;
    font-family: 'Permanent Marker', cursive;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "h h h"
    "m m m"
    "m m m"
    "m m m"
    "m m m"
    "m m m"
    "m m m"
    "f f f";
}

/* General stylings */
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
p{
    margin: 1rem;
}
.content_subtitles{
    margin-left: 1rem;
}
em{
    font-weight: bold;
}
hr{
    height: 3px;
    background-color: rgb(17, 78, 75);
    border: none;
    width: 90%;
    margin: 0 auto 10px;
    /* justify-self: center; */
}
/* ----------------------------------------- */

/* Header styling */
.site_header{
    grid-area: h;
    color: white;
    background-color: rgb(15, 8, 8);
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.open_menu_btn, .close_menu_btn{

    border: none;
    background: none;

    position: absolute;
    top: 0px;
    right: 20px;
    font-weight: 300;
    width: 1rem;
}
.open_menu_btn{ 
    color: yellow; 
    font-size: 2.5rem;
    width: 1rem;
}
.close_menu_btn{ 
    color: red;
    font-size: 3rem; 
    width: 1.5rem;
}
.site_nav{
    background-color: rgba(0, 0, 0, 0.87);
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 2rem;
    color: whitesmoke;
}
.nav_links{
    text-decoration: none;
    color: whitesmoke;
}
.nav_items{
    list-style: none;
}
.profile_photo{
    background-image: url("../images/profile_photo2.jpg");
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.header_title{
    font-size: 1.5rem;
    padding-top: 5px;
}
.current_page{
    color: yellow;
}
/* -------------------------------------------- */
/* Main Content styling */
.main_content{    
    grid-area: m;
    background-color: lightseagreen;
    padding: 0.5rem 1rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content_titles{
    padding-bottom: 5px;
    font-size: 1.3rem;
}
/* Main Content -> Form styling */
form{
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label{
    align-self: start;
    font-weight: bolder;
}
input, textarea{
    border: none;
    outline: none;
    padding: 8px 10px;
    margin-bottom: 10px;
}
.submit_btn{
    background-color: black;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 1rem;
    border: none;
    width: 100px;
    padding: 10px 5px;
}
.submit_btn:hover{
    padding: 7px 2px;
    color: yellow;
    border: 3px double yellow;
}

.gender{
    display: flex;
    gap: 20px;
}


/* -------------------------------------------- */
/* Footer styling */
.site_footer{
    grid-area: f;
    color: white;
    background-color: rgb(15, 8, 8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    gap: 5px;
}
.footer_copyright{
    color: yellow;
}
/* ---------------------------------------------- */