* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/*---------------------------------IMPORTS----------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* ------------------------------------------------------------------------------ */
/* global settings */

body{
    background-color: rgb(237, 237, 245);
    width: 100%;
    height: 100%;
    padding-top: 100px;
}
/* ------------------------------------------------------------------------------ */
.nav_header{
    background-color: rgba(44, 42, 42, 0.9);
    padding: 50px;
    text-align: center;  
    width: 100%;
    position: fixed;
    top: 0;
}

.nav_header nav ul li{
    font-size: 1.4em;
    font-weight: bold;
    display: inline;
    margin-left: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    list-style: none;
}
nav a:hover {
    color: rgb(29, 116, 101);
    font-weight: bolder;
    text-decoration: none;
    list-style: none;
}
nav a.dcurrent {
    background-color: rgb(167, 19, 31);
}

nav li{
    list-style: none;
}
footer{
    background-color: rgba(44, 42, 42, 0.9);
    padding: 50px;
    width: 100%;
}
main{
    background-color: rgb(111, 139, 126);
    font-size: 1.3em;
    margin: 5%;
    padding: 50px;
    height: 150vh;

}

.clearfix:after {
    content:"";
    display:block;
    clear:both;
}

.titles{
    font-family: 'Permanent Marker', cursive;
}

.latte_title{
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}
.cap_title{
    float: left;
    margin-top: px;
    margin-right: px;
}

article header, section{
    margin: 20px;
    padding: 10px;
}
/* about.html specific styles: */
.aboutme_header{
    margin: 0;
    padding: 0;
    text-align: center;
}


.aboutme_article1 {
    margin: 0;
    padding: 10px;

}
.photo{
    width: 250px;
    margin: 5px;
    box-shadow: 1px 5px 15px 4px rgba(14, 10, 10, 0.39);
}

.my_photo{
    width: 260px;
    margin: 20px auto;
    
}


/* Media Queries */

@media screen and (max-width: 600px){   
    .nav_header nav ul li {
        /* background-color: red; */
        font-size: 1.2em;
        font-weight: bold;
        display: block;
        margin-left: 20px;
        line-height: 1.5em;
    }
    .nav_header{
        padding: 20px;
    }
    body{
        padding-top: 150px;
    }
    /* .nav_header, main, footer{
        padding: 10px;
    } */
}

