* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/*---------------------------------IMPORTS----------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* ------------------------------------------------------------------------------ */
/* global settings */

body{
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

.main_container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.titles,.menu_items, footer,
h1,h2, h3, h4 {
    font-family: 'Permanent Marker', cursive;

}
hr{
    border: none;
    width: 90%;
    margin: 0 auto;
    height: 0.15em;
    background-color: black;
    margin: 20px;

}
.menu_items{
    color: whitesmoke;
    margin: 20px;
}

.current_page{
    color: rgb(29, 116, 101);
}

/* ------------------------------------------------------------------------------ */

.nav_header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(44, 42, 42, 0.9);
    text-align: center;  
    width: 100%;
    padding:  10px 0;
}

footer{
    background-color: rgba(44, 42, 42, 0.9);
    padding: 20px;
    width: 100%;
    margin-top: 10px;
    color: whitesmoke;
}

.nav_header nav ul li{
    font-size: 1.4em;
    font-weight: bold;
}

nav a, a {
    color: black;
    text-decoration: none;
    list-style: none;
}
nav a:hover , a:hover{
    color: rgb(29, 116, 101);
    font-weight: bolder;
    text-decoration: none;
    list-style: none;
}

nav li{
    list-style: none;
}

.titles{
    font-family: 'Permanent Marker', cursive;
}

/* about.html specific styles: */
.photo{
    width: 250px;
    margin: 5px;
    box-shadow: 1px 5px 15px 4px rgba(14, 10, 10, 0.39);
}
.my_photo{
    width: 260px;
    margin: 20px auto;  
}

/* Styles of FORMS */
#birthday{
    background-color: white;
}
input[type="radio"], input[type="checkbox"]{
    min-width: 0px;
    margin-left: 10px;

}
.apron{
    display: flex;
}
input[type="color"]{
    min-width: 0px;
    margin-left: 10px;
    padding: 0;
}
.success{
    /* background-color: rgb(40, 184, 141); */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; */
}

/* <<<<<<< Hier bezig >>>>>> */

.wrapper{
    border: 3px solid red;
    height: 100vh;
    width: 100%;
    display: grid;
    /* grid-template-columns: 1fr 1fr 3fr 1fr; */
    grid-template-areas: 
    ". img title ."
    ". cont cont .";
    overflow: scroll;
    background-color: rgb(48, 95, 73);
    font-size: 1.2em;
    padding: 20px;
}


/* .article_section{
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "i t t t t t t t t t t t"
    "c c c c c c c c c c c c";
    border: 3px solid rgb(14, 11, 12);
} */
.drink_images{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 50px;
    height: 70px;
    grid-area: img;
    border: 3px solid rgb(204, 200, 230);
}
.latte{
    background-image: url("images/latte_main.jpg");
}
.cappu{
    background-image: url("images/cappuccino_main.jpg");
}

.titles{
    margin: 0;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    grid-area: title;
    grid-column: span 3;
    border: 3px solid purple;
}
.article_section > p{
    grid-area: cont;
    padding: 10px;
    border: 3px solid rgb(228, 232, 235);
}

form{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
form p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}
.labelwrapper{
    display: flex; 
    flex-direction: column;
    margin-right: auto;
}
.ind_lb_title{
    align-self: flex-start;
    font-weight: bold;
    margin-bottom: 5px;
}
.individual_lable_container{
    margin-left: 5px;
    display: flex;
}
.individual_lable_container > input{
    margin-left: 0;
    margin-right: 5px;
}
.labelwrapper > span{
    margin-bottom: 10px;
}
.form_buttons{
    display: flex;
    gap: 30px;
}
input, textarea{
    min-width: 250px;
    padding: 10px;
    border: 0;
    outline: none;
}
#recipe_file{
    padding: 0;
}
input:focus, 
textarea:focus, 
button:hover, button:focus{
    background-color: rgb(74, 199, 193);
}
button{
    padding: 15px 30px;
    border: 0;
    border-radius: 5px;
    justify-self: flex-start;
    background-color: rgba(44, 42, 42, 0.9);
    color: whitesmoke;
}







/* Media Queries */

/* @media screen and (max-width: 600px) and (min-width: 400px){   
    .nav_header nav ul li {
        color: whitesmoke;
        font-size: 1.2em;
        font-weight: bold;
        display: block;
        margin-left: 20px;
        line-height: 1.3em;
    }
    main {
        margin-top: 5em;
        font-size: 1.1em;
        padding: 1px;
    }
    .nav_header{
        padding: 30px;
    background-color: rgba(44, 42, 42, 0.9);
    }
    section{
        padding: 0;
    }
} */

/* @media screen and (max-width: 400px){   
    .nav_header nav ul li {
        font-size: 1em;
        font-weight: bold;
        display: block;
        margin-left: 10px;
        line-height: 1.3em;
    }
    footer{
        padding: 10px;
        font-size: 0.8em;

    }
    main {
        font-size: 1.0em;
        padding: 1px;
        margin: 0px;
    }
    .photo{
        margin: 0px;
        box-shadow: 1px 5px 15px 4px rgba(14, 10, 10, 0.39);
    }
    .my_photo{
        display: flex;
        justify-content: center;
    }
    h1{
        font-size: 1.1em;
        margin: 0px;
        padding: 0px;
    }
    h3{
        font-size: 1.0em;
        margin-top: 10px;
    }
} */







